<!-- app/templates/home/item.html -->

{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}
            Add Item
{% endblock %}
{% block body %}
<FORM ACTION="{{ url_for('add_item') }}" METHOD="POST">
    <!--<INPUT TYPE="hidden" NAME="UserGroup" VALUE="{{ UserGroup }}">-->
    {{ form.hidden_tag() }}
    <TABLE>
          {{ render_field(form.Home) }}
          {{ render_field(form.ListDate) }}
          {{ render_field(form.PkgPrice) }}
          {{ render_field(form.Barcode) }}
          {{ render_field(form.Name) }}
          {{ render_field(form.Manufacturer) }}
          {{ render_field(form.ItemGroup) }}
          {{ render_field(form.Size) }}
          {{ render_field(form.Unit) }}
          {{ render_field(form.Locations) }}
          {{ render_field(form.Taxable) }}
          {{ render_field(form.ItemStatus) }}
          {{ render_field(form.Fees) }}
    </TABLE>{{ form.Submit() }}
</FORM>
{% endblock %}
