#Ignore python cache files
__pycache__/

#Private data strings, not to be included in git
instance/config.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Scratch work from an earlier project
dynamoDB-Movies.py
