#Ignore python cache files
__pycache__/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Scratch work from an earlier project
dynamoDB-Movies.py
