/* app/static/css/style.css */

body, html {
    width: 100%;
    /*height: 100%;*/
    /*height: 90%;*/
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.nav div {
    margin: 0;
    padding: 0;
}

.nav ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    /*display: inline-block;*/
    color: white;
    text-align: center;
    padding: 14px 16px;  
    text-decoration: none;
    font-size: 17px;
}

.nav li a:hover {
    background-color: #ddd;
    color: black;
}

table { border-collapse: collapse; }
table, th, td { border: 1px solid black; }
th, .location { text-align: center; }

.alert-info {
    /*width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;*/
}

.page-wrap {
    min-height:100%;
    margin-bottom: -42px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.foot, .page-wrap:after {
    height: 42px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    color: black;
    background-color: #f8f8f8;
    text-align: center;
    margin: 1px 0 0;
}

.intro-header {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

