<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} | Grocery</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>
    <body>
        <nav>
              <ul class="nav">
              {% if current_user.is_authenticated %}
                {%if current_user.is_admin %}
                  <li class="nav"><a href="{i{ url_for('home.admin_dashboard') }i}">Dashboard</a></li>
                  <li><a href="{i{ url_for('admin.list_departments') }i}">Departments</a></li>
                  <li><a href="{i{ url_for('admin.list_roles') }i}">Roles</a></li>
                  <li><a href="{i{ url_for('admin.list_employees') }i}">Employees</a></li>
                {% else %}
                  <li><a href="{i{ url_for('home.planning') }i}">Dashboard</a></li>
                  <li><a href="{i{ url_for('home.shopping') }i}">Locations</a></li>
                {% endif %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  <li><a ><i class="fa fa-user"></i> Hi, {{ current_user.get('FirstName') }}!</a></li>
              {% else %}
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('register_user') }}">Register</a></li>
                  <li><a href="{{ url_for('login') }}">Login</a></li>
              {% endif %}                 
              </ul>
        </nav>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div>
            <ul>
        {% for message in messages %}
                <li>{{ message }}</li>
        {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
        <div class="wrapper">
{% block body %}
{% endblock %}
        </div>
        <footer>
            <div>
                <p class="copyright text-muted small">Copyright Nathan Walsh © 2018. All Rights Reserved</p>
            </div>
        </footer>
    </body>
</html>
